<div class="modal-backdrop" *ngIf="isOpen"> <!--</div>*ngIf="isVisible">-->
        <div class="modal-content">
            <header class="modal-header">
                <img src="{{ image }}" alt="{{ title }}" class="skill-icon">
                <h2>{{ title }}</h2>
                <button class="xbtn" (click)="closeModal()">x</button>
            </header>
            <section class="modal-body">
                <ng-content></ng-content>
            </section>
            <footer class="modal-footer">
            </footer>
        </div>
</div>