

.main-container{
    display: flex;
    width: 100%;
}
.left-box{
    flex: 1;
    display: flex;
    background: rgba(14, 14, 17, 1);
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    //box-shadow: inset -10px 0 10px rgba(0, 0, 0, 0.2);
}

.right-box{
    flex: 3;
    padding: 5px;
    //box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}


