.info-card-container {
  position: relative;
  display: inline-block; 
}

.info-card {
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.04);
  font-family: Manrope, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 23.8px;
  letter-spacing: 0.02em;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  display: inline-block;
  margin: 5px;
  z-index: 500;
}

.blurred {
  filter: blur(4px);
  user-select: none;
  pointer-events: none;
}

.info-card-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 14px; 
  height: 14px; 
  pointer-events: none; 
}

.info-icon {
  width: 12px;
  height: 12px; 
  margin-right: 5px;
}

.info-content {
  display: flex;
  align-items: center;
}

.text-link {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.disabled-link {
  pointer-events: none; 
  cursor: default;
}

@media (max-width: 768px) and (orientation: portrait) {
  .info-card {
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    line-height: 20px;
    margin: 3px;
  }

  .info-card-image {
    width: 12px;
    height: 12px;
  }

  .info-icon {
    width: 10px;
    height: 10px;
    margin-right: 3px;
  }

  .text-link {
    font-size: 12px;
  }
}