.tooltip {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  color: black;
  font-family: Manrope, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 23.8px;
  letter-spacing: 0.02em;
  text-align: center;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 1002;
  white-space: nowrap;
}

.tooltip-arrow {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid white;
}

@media (max-width: 768px) and (orientation: portrait) {
  .tooltip {
    left: auto;
    right: auto;
    transform: none;
    max-width: 90%; 
    white-space: normal;
  }
  
  .tooltip-left {
    left: 5%;
    transform: translateX(0);
  }

  .tooltip-right {
    right: 5%;
    transform: translateX(0);
  }

  .tooltip-arrow {
    left: auto;
    right: auto;
    transform: none;
  }
}