<div class="main-block-item">
    <div><img src="{{ icon }}" alt=" " class="icon"> </div>
    <div class="flex-container">
        <p class="left"><em>Company: </em><strong>{{title}}</strong></p>
        <p class="right"><em>Years: </em><strong>{{time}}</strong></p>
    </div>

    <div>
        <p *ngIf="position !== ''" ><em>Position: </em><strong>{{position}}</strong></p>
        <p><em>Country: </em><strong>{{location}}</strong></p>
    </div>

    <div>
        <p><em>Description:</em></p>
        <p [innerHTML]="description"></p>
    </div>
    <div class="more">
        <button (click)="onButtonClick()">more</button>
    </div>
</div>