@use '../../../variables' as style_vars;

.main-block-item {
    display: block;
    width: 80%;
    background: #def5fc;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: style_vars.$border-style;
    border-radius: 8px;
    font-size: 1.0rem;
    font-weight: 500;
    font-family: 'Verdana', sans-serif;
    margin-left: 5px;
}

.info {
    display: flex;
    justify-content: space-between;
    background: #e9f8fd;
}

p {
    margin: 0;
    color: #3b2727;
}

.more {
    display: flex;
    justify-content: end;
    align-items: center;
}

@media screen and (max-width: 768px) and (orientation: portrait) {
    .main-block-item {
        display: block;
        width: 90%;
        background: #def5fc;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        margin: 0;
        border: style_vars.$border-style;
        font-weight: 400;
        border-radius: 8px;
    }
}