.tabs-bar {
    display: flex;
    margin-top: 20px;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.tab-button {
    background: none;
    font-family: Manrope, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.7);
    border: none;
    cursor: pointer;
}

.tab-button.active {
    color: white;
    font-weight: bold;
}

@media (max-width: 768px) {
    .tab-button {
        font-size: 0.8rem;
        margin: 0 5px;
    }
    .tabs-bar {
        padding-right: 10px;
        align-content: center;
        align-items: center;
        justify-content: center;
    }
}