.tabs-bar {
    display: flex;
    background: #a5cfe8;
    width: 83%;
    min-height: 40px;
    align-content: flex-end;
    align-items: flex-end;
    justify-content: flex-end;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-bottom: 3px;

    .active {
        font-weight: bold;
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2),
            inset -1px -2px 3px rgba(0, 0, 0, 0.2),
            inset -1px 2px 3px rgba(255, 255, 255, 0.2);
    }
}

.tab-button {
    background: #a5cfe8;
    color: white;
    width: 150px;
    padding: 8px;
    margin: 10px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .tab-button {
        width: 60px;
        margin: 2px;
        font-size: 0.4rem;
        border-radius: 6px;   
    }
    .tabs-bar{
        display: flex;
        padding-right: 10px;
        width: 95%;
        min-width: 240px;
        min-height: 50px;
        align-content: flex-end;
        align-items: center;
        justify-content: flex-end;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}