@use '../../variables' as style_vars;

.slill-item{
    display: flex;
    background: #f5f5f3;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border: style_vars.$border-style;
    border-radius: 8px;
    font-size: 1.0rem;
    font-weight: 700;
    font-family: 'Verdana', sans-serif;
    color: #fbc046;
    cursor: pointer;
} 