.timeline-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  
}

.timeline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  overflow-x: auto;
  padding: 20px;
  position: relative;
  height: 400px;
}

.scale-container {
  display: flex;
  justify-content: flex-start; /* Align items tightly together */
  align-items: flex-end;
  margin: 0;
  margin-top: 25px; 
  padding: 0;
}

.scale-group {
  display: flex;
  margin: 0; 
  padding: 0; 
}

.scale-unit {
  display: flex;
  align-items: flex-end;
  position: relative;
  margin: 0; 
  padding: 0;
}

.test-element{
  margin-left: 10px;
  margin-top: 50px;
  transform: translateX(380px);
  display: flex;
  width: 560px;
  height: 20px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
}

.test-element2{
  margin-left: 10px;
  margin-top: 50px;
  transform: translateX(60px);
  display: flex;
  width: 240px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
}
