<div class="timeline-container">
  <div class="timeline">
    <div class="years-container">
      <div *ngFor="let year of years" class="year">
        <div class="year-value">{{ year }}</div>
      </div>
    </div>
    <div class="measurment-container">
      <div *ngFor="let year of years" class="measurment">
        <div class="year-mark"></div>
        <div class="quarter-mark"></div>
        <div class="quarter-mark"></div>
        <div class="quarter-mark"></div>
      </div>
    </div>
    <div class="years-container">
      <div *ngFor="let year of years" class="year">
        <div class="year-value">{{ year }}</div>
      </div>
    </div>
  </div>
</div>