<div class="timeline-container">
  <div class="timeline" #timeline>
    <div class="scale-container">
      <div class="scale-group" *ngFor="let year of years">
        <app-scale-element  [label]="year"></app-scale-element> <!--*ngFor="let unit of group"-->
      </div>
    </div>
    <div *ngFor="let timeScaleItem of timeScaleItems">
      <app-time-scale-item [item] = "timeScaleItem"></app-time-scale-item>
    </div>
    
    <!--<div class="test-element"></div>
    <div class="test-element2"></div> -->
  </div>
</div>