/* You can add global styles to this file, and also import other style files */
@use 'variables';

body {
  margin: 0;
}

.common-button {
  background-blend-mode: overlay;
  background:
    radial-gradient(69.62% 100% at 50% 0%, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.125) 100%),
    rgba(255, 255, 255, 0.08);
  border-radius: 32px;
  border: 1px solid;
  border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0) 51.23%);
  font-family: Manrope, sans-serif;
  color: #ffffff;
  cursor: pointer;
}

.common-button:active {

  background-blend-mode: overlay;
  background:
    radial-gradient(69.62% 100% at 50% 0%, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.125) 100%),
    rgba(255, 255, 255, 0.08);
  box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.2), inset -1px -1px 4px rgba(109, 109, 109, 0.1);
  border-radius: 32px;
  border: 1px solid;
  border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0) 51.23%);
  font-family: Manrope, sans-serif;
  color: #ffffff;
  cursor: pointer;
}

.commonXButton {
  width: 25px;
  height: 25px;
  background: none;
  box-shadow: inset 1px 2px 3px rgba(248, 247, 247, 0.2);
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.commonXButton:active {
  width: 25px;
  height: 25px;
  background: none;
  box-shadow: inset -1px -2px 3px rgba(248, 247, 247, 0.2);
  border: none;
  border-radius: 30px;
  cursor: pointer;
}