/* You can add global styles to this file, and also import other style files */
@use 'variables' ;

@use 'variables' ;

body {
    margin: 0;
  }

 button {
    background: #e77e73;
    padding: 5px;
    cursor: pointer;
    border: variables.$border-style;
    border-radius: 3px;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 700; 
  }