.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

.header {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 50%;
}

.summary-text {
    font-family: Manrope;
    font-size: 14px;
    font-weight: 500;
    line-height: 23.8px;
    letter-spacing: 0.02em;
    text-align: left;
    color: rgba(255, 255, 255, 0.7);
    margin: 0 auto;
    padding-left: 5px;
    box-sizing: border-box;

    .text-container {
        max-height: 150px; 
        overflow-y: auto;
        padding-right: 10px;
      }
}

.info-labels-main-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20px;
}

.info-label-container {
    display: flex;
    margin-bottom: 5px; 
}

.app-info-label {
    margin-right: 5px; 
}

.infoblock{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.name{
    font-family: Manrope;
    font-size: 32px;
    font-weight: 800;
    line-height: 43.71px;
    letter-spacing: 0.01em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin: 0 auto;
    padding-left: 5px;
    box-sizing: border-box;
    margin-top: auto;
}

.position{
    font-family: Manrope;
    font-size: 12px;
    font-weight: 600;
    line-height: 21.86px;
    letter-spacing: 0.02em;
    text-align: left;    
    color: rgba(255, 255, 255, 1);
    margin: 0 auto;
    padding-left: 5px;
    box-sizing: border-box;
    margin-top: auto;
}

.common-button.selected {
    margin-top: 20px;
    padding: 8px 20px 8px 20px;
    gap: 8px;
    opacity: 0px;
    font-family: Manrope, sans-serif;
    font-weight: 600;
    color: #000000;

    background:
        radial-gradient(54.68% 100% at 50% 0%, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
        rgba(255, 185, 7, 0.7);
    background-blend-mode: overlay;

    border: 1px solid;
    border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 51.23%);
}

@media screen and (max-width: 768px) and (orientation: portrait) {
    .header {
        width: 95%;
        margin-top: 10px;
      }
    
      .header-text {
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        padding-left: 0;
      }

      .summary-text {
        font-size: 12px;
        font-weight: 400;

        .text-container {
            max-height: 80px; 
            overflow-y: auto;
            padding-right: 10px;
            background: rgba(0, 0, 0, 0.2);
            border-radius: 5px;
          }
      }
}