.header_bg {
    display: flex;
    flex-direction: column;
    //background: #fbcb67;
    background: rgba(14, 14, 17, 1);
    //min-width: 400px;
    //min-height: 300px;
}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

//.yellow-line {
//    display: flex;
//   background: #fff361;
//    height: 10px;
//    width: 100%;
//    margin-top: 0px;
//    margin-bottom: 0px;
//}

.header-text {
    font-size: 1.0rem;
    font-weight: 500;
    font-family: 'Verdana', sans-serif;
    color: #3b2727;
    width: 70%;
    margin: 0 auto;
    text-align: left;
    padding-left: 40px;
    box-sizing: border-box;
}
.pin-code-block{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.infoblock{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.pin-input{
    width: 200px;
    height: 50px;
    font-size: 1.8rem;
    text-align: center;
    margin: 0 10px;
    border: 1px solid #000;
    border-radius: 5px;
    outline: none;
}

@media screen and (max-width: 768px) and (orientation: portrait) {
    .header_bg {
        min-height: 100px;
        padding-top: 20;
    }

    .yellow-line {
        height: 5px;
        width: 100%;
    }

    .image-container {
        display: block;
        margin: auto;
        width: 250px;
        padding-top: 20px;
    }

    .header-text {
        font-size: 0.6rem;
        font-weight: 450;
        font-family: 'Verdana', sans-serif;
        color: #3b2727;
        text-align: left;
        width: 98%;
        padding-left: 10px;
        padding-right: 15px;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
        white-space: normal;

    }

    .pin-input{
        width: 100px;
        height: 30px;
        font-size: 0.9rem;
        text-align: center;
        margin: 0 10px;
        border: 1px solid #000;
        border-radius: 5px;
        outline: none;
    }
}

.image-container {
    display: block;
    margin: auto;
}