.header_bg {
    display: flex;
    flex-direction: column;
    background: #fbcb67;
    min-width: 400px;
    min-height: 300px;
}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.yellow-line {
    display: flex;
    background: #fff361;
    height: 10px;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
}

.header-text {
    font-size: 1.0rem;
    font-weight: 500;
    font-family: 'Verdana', sans-serif;
    color: #3b2727;
    width: 70%;
    margin: 0 auto;
    text-align: left;
    padding: 10px;
    box-sizing: border-box;
}

@media screen and (max-width: 768px) and (orientation: portrait) {
    .header_bg {
        min-height: 100px;
    }

    .yellow-line {
        height: 5px;
        width: 100%;
    }

    .image-container {
        display: block;
        margin: auto;
        width: 200px;
    }
    .header-text {
        font-size: 0.7 rem;
        font-weight: 450;
        font-family: 'Verdana', sans-serif;
        color: #3b2727;
        width: 95%;
        margin: 0 auto;
        margin-left: 5px;
        text-align: left;
        padding: 10px;
        box-sizing: border-box;
    }
}

.image-container {
    display: block;
    margin: auto;
}