<div class="skills-block">
    <table class="skills-table">
        <thead>
            <tr>
                <th><div class="title">Skills:</div></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let skill of skillsModel">
                <td>
                    <app-skill-item [skillValue] = "skill.skillName" 
                    [skillUsages] = "skill.skillUsages" 
                    [slillYears] = "skill.skillYears"></app-skill-item>
                </td>
            </tr>
        </tbody>
    </table>
</div>