@use '../../../variables' as style_vars;

.skill-item{
    position: relative;
    display: flex;
    background: rgba(255, 255, 255, 0.04);
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 8px;
    font-family: Manrope;
    font-size: 14px;
    font-weight: 500;
    line-height: 23.8px;
    letter-spacing: 0.02em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
} 

@media screen and (max-width: 768px) and (orientation: portrait) {
    .skill-item{
        font-size: 12px;
        font-weight: 400;
    } 
}