<div class="main-scroll-container">
  <div class="horizontal-scroll-container">
    <div class="scroll-wrapper" #scrollWrapper>
      <div *ngFor="let item of contentArray" class="scroll-item">
        <app-main-block-item [experience]="item"></app-main-block-item>
      </div>
    </div>
  </div>
  <div class="navigation-arrows">
    <button class="arrow left" (click)="scrollLeft()">&#9664;</button>
    <div class="pagination-dots">
      <span *ngFor="let dot of contentArray; let i = index" [class.active]="i === currentIndex"></span>
    </div>
    <button class="arrow right" (click)="scrollRight()">&#9654;</button>
  </div>
</div>