<div class="description-block">
    <div><img src="{{ icon }}" alt=" " class="icon"> </div>
    <div class="flex-container">
        <button (click)="onButtonClick()">back</button>
        <p class="left"><strong>{{title}}</strong></p>
        <p class="right"><em>years: </em><strong>{{time}}</strong></p>
    </div>

    <div class="block-one">
        <p *ngIf="position !== ''" ><em>Position: </em><strong>{{position}}</strong></p>
        <p><em>Country: </em><strong>{{location}}</strong></p>
    </div>


    <div class="block-two">
        <p>Description:</p>
        <p [innerHTML]="description"></p>
        <p [innerHTML]="lDescription"></p>
    </div>
    <div class="block-three">
        <p>Links:</p>
        <ul>
            <li *ngFor="let link of links"> <a href="{{link}}" target="_blank">{{link}}</a></li>
        </ul>
    </div>
</div>