@use '../../../variables' as style_vars;


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.description-block {
    display: block;
    width: 50%;
    //background: #def5fc;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    // border: style_vars.$border-style;
    // border-radius: 8px;
    font-size: 0.8rem;
    font-weight: 500;
    font-family: Manrope;
    margin-left: 5px;
    margin-top: 5px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 10px;
}

.left {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.right {
    flex: 1;
    text-align: right;
}

.small-title {
    margin-top: 10px;
    font-family: Manrope;
    font-size: 10px;
    font-weight: 700;
    line-height: 13.66px;
    letter-spacing: 0.2em;
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
}

.text1 {
    margin: 0;
    color: rgba(255, 255, 255, 1);
    font-family: Manrope;
    font-size: 20px;
    font-weight: 700;
    line-height: 22.4px;
    letter-spacing: 0.02em;
    text-align: left;
}

.text2 {
    margin: 0;
    color: rgba(255, 255, 255, 1);
    font-family: Manrope;
    font-size: 14px;
    font-weight: 700;
    line-height: 22.4px;
    letter-spacing: 0.02em;
    text-align: left;
}

.text3 {
    margin: 0;
    color: rgba(255, 255, 255, 0.7);
    font-family: Manrope;
    font-size: 14px;
    font-weight: 500;
    line-height: 22.4px;
    letter-spacing: 0.02em;
    text-align: left;
}

.info-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }

.more {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 5px;

}

.block-one {
    margin-top: 10px;
}

.block-three {
    margin-top: 5px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
}

.icon {
    margin: 15px;
    width: 80px;
    height: 80px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


@media screen and (max-width: 768px) and (orientation: portrait) {
    .description-block {
        display: block;
        width: 90%;
        background: #def5fc;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        margin: 0;
        border: style_vars.$border-style-mob;
        font-weight: 400;
        border-radius: 8px;
        font-size: 0.7rem;
    }

    .icon {
        margin: 0;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 5px;
        width: 60px;
        height: 60px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    .shift {
        margin: 0;
        margin-left: 5px;
        color: #3b2727;
        font-weight: 450;
        font-size: 0.9rem;
    }
}