@use '../../../variables' as style_vars;

.description-block {
    display: block;
    width: 80%;
    background: #def5fc;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: style_vars.$border-style;
    border-radius: 8px;
    font-size: 0.8rem;
    font-weight: 500;
    font-family: 'Verdana', sans-serif;
    margin-left: 5px;
    margin-top: 5px;
}

.flex-container {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
}

.left {
    flex: 1;
    display: flex;
    flex-direction: column; 
}

.right {
    flex: 1;
    text-align: right;
}

p {
    margin: 0;
    color: #3b2727;
}

.shift{
    margin: 0;
    margin-left: 1em;
    color: #3b2727;
    font-weight: 520;
    font-size: 1.0rem;
}

.more {
    display: flex;
    justify-content: end;
    align-items: center;
    
}
.block-one { margin-top: 10px;}
.block-three { margin-top: 5px;}

.icon {
    margin-right: 5px;
    width: 80px;
    height: 80px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.image-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: flex-start; /* Align to the top */
    width: 100%; /* Ensure the image container takes full width */
}

@media screen and (max-width: 768px) and (orientation: portrait) {
    .description-block {
        display: block;
        width: 90%;
        background: #def5fc;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        margin: 0;
        border: style_vars.$border-style;
        font-weight: 400;
        border-radius: 8px;
        font-size: 0.7rem;
    }
    .flex-container {
        display: block;
        justify-content: colinm; 
        align-items: center; 
    }
    .shift{
        margin: 0;
        margin-left: 5px;
        color: #3b2727;
        font-weight: 450;
        font-size: 0.9rem;
    }
}