body 
{
    margin: 0;
    padding: 0;
}

.header_bg {
    background: #fbcb67;
    margin: 0;
    padding: 0;
}

.logoName {
    color: #fff;
    font-size: 150px;
    font-weight: bold;
    text-align: center;
    font: 100px, sans-serif;
}